# Ignore Mac system files
.DS_Store

# Ignore Python Environment and compilation
backend/venv/
backend/__pycache__/
*.pyc

# Ignore Node modules and Next.js builds
frontend/node_modules/
frontend/.next/
frontend/out/